// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #2f9f43
$secondary = #de5f35
$tertiary  = #98cbfe

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = $red-10
$info      = #027be3
$warning   = #F2C037

// Other colors
$dark = #282828

// Project custom
// Ref: https://quasar-framework.org/components/stylus-variables.html
$layout-header-shadow = none;
//$card-shadow = 7px 7px 0px rgba(0,0,0,0.35);
// $card-shadow = $shadow-8;
$card-overlay-color	= rgba(0, 0, 0, .52);
$button-padding = 4px 16px;

$bp-1 = 1400px;
$bp-2 = 1920px;

.q-subheading
  @media (min-width $bp-1)
    font-size 20px
  @media (min-width $bp-2)
    font-size 24px
    line-height 1.7

.q-headline
  @media (min-width $bp-1)
    font-size 28px
  @media (min-width $bp-2)
    font-size 32px

.q-display-1
  @media (min-width $bp-1)
    font-size 38px
  @media (min-width $bp-2)
    font-size 42px

.q-display-3
  @media (min-width $bp-1)
    font-size 62px

.q-alert-detail
  font-size 13px
  @media (min-width $bp-2)
    font-size 17px

.q-card-container
  padding 2px 10px;
  @media (min-width $bp-2)
    padding 10px 12px;

.q-body-1
  font-size 15px
  @media (min-width $bp-1)
    font-size 18px
  @media (min-width $bp-2)
    font-size 22px

.q-body-2
  font-size 15px
  @media (min-width $bp-1)
    font-size 18px
  @media (min-width $bp-2)
    font-size 22px

.q-card
  background-color #ffffff
  box-shadow 7px 7px 0px rgba(0,0,0,0.4);
  // transition box-shadow 0.25s

.q-card-title
  line-height 1.3
  padding .1em 0
  @media (min-width $bp-1)
    padding .3em 0

.q-card-actions
  @media (max-width $bp-1)
    padding 0 8px

.q-card img.photoScale
  transition transform 0.25s

.q-card:hover img.photoScale
  transform: scale(1.1);

.q-card:hover
  // box-shadow 10px 10px 0px rgba(0,0,0,0.45);

.q-btn.disabled
  opacity .4!important

.q-tooltip
  font-size 1em

$tooltip-background = #444

.q-alert-content
  @media (min-width $bp-2)
    font-size 1.3em
    line-height 1.4

// .q-btn-inner
//   font-size 14px
//   @media (min-width $bp-1)
//     font-size 16px

.q-item-avatar
  background-color #98cbfe
  width 50px
  height 50px
  @media (min-width $bp-1)
    width 60px
    height 60px
  @media (min-width $bp-2)
    width 75px
    height 75px

.q-item-main
  margin-right 52px
  @media (min-width $bp-1)
    margin-right 62px
  @media (min-width $bp-2)
    margin-right 72px
 
.q-knob
  width 50px
  height 50px
  @media (min-width $bp-1)
    width 60px
    height 60px
  @media (min-width $bp-2)
    width 75px
    height 75px

.q-caption
  font-size 12px
  @media (min-width $bp-1)
    font-size 14px
  @media (min-width $bp-2)
    font-size 18px

.link
  // color #b4b4b4
  color #92D050
  font-size 1.4em
  margin 4px 6px 0 20px
  text-decoration none
  text-transform uppercase
  transition all .2s

.link:hover
  color #fff

.link > .material-icons, .link > .fas
  font-size 30px
  margin-right 4px
  margin-top -4px