<template>
  <q-page>
    <div>
      <iframe id="storyFrame" src="statics/courses/course0/story_html5.html" frameborder="0" class="storyline"></iframe>
    </div>
  </q-page>
</template>

<script>
export default {
  // name: 'PageName',
}
</script>

<style>
</style>
