<template>
  <q-page>
    <activation v-if="showActivation" @activated="checkEmailNotify"></activation>
    <div class="container">
      <div class="subscription q-pr-sm">
        <h2>My Subscription</h2>
        <subscription></subscription>
      </div>
      <div class="courses q-pr-sm">
        <p v-if="testMode.includes('test')" class="test-mode shadow-5"><i class="fas fa-exclamation-triangle"></i> You are in test mode</p>
        <h2>My Courses</h2>
        <div class="course-list q-mr-lg">
          <course-card
            v-for="course in courses"
            :data="course"
            :key="course.id">
          </course-card>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import Activation from '../components/Activation'
import CourseCard from '../components/CourseCard'
import Subscription from '../components/Subscription'
import data from '../assets/courseData.json'

let emailNotification = null

export default {
  data () {
    return {
      courses: this.$store.state.courses
    }
  },
  components: {
    Activation,
    CourseCard,
    Subscription
  },
  mounted () {
    setTimeout(this.setFirstLaunch, 500)
    // Set courses into Vuex store from data JSON file on each load
    // This allows for the store's courses object to update if we change course data in an update
    this.$store.commit('courses', data.courses)
    this.checkEmailNotify()
  },
  destroyed () {
    // Remove the admin email notification when going to a course
    if (this.$store.state.email.length === 0) {
      emailNotification()
    }
  },
  methods: {
    setFirstLaunch () {
      this.$store.commit('firstLaunch', true)
    },
    checkEmailNotify () {
      const activationConfirmed = this.$store.state.activationConfirmed
      if (activationConfirmed && this.email === '') {
        this.showEmailNotify()
      }
    },
    showEmailNotify () {
      emailNotification = this.$q.notify({
        timeout: 0,
        message: 'An administrator needs to set the admin email.',
        detail: `The course completion emails cannot be sent without this.`,
        type: 'negative',
        position: 'bottom-left',
        actions: [
          {
            label: 'OK'
          }
        ]
      })
    }
  },
  computed: {
    showActivation () {
      if (!this.$store.state.isActivated) {
        return true
      } else if (this.$store.state.isActivated && !this.$store.state.activationConfirmed) {
        return true
      } else {
        return false
      }
    },
    testMode () {
      return this.$store.state.testMode
    },
    email () {
      return this.$store.state.email
    }
  },
  watch: {
    email () {
      emailNotification()
    }
  }
}
</script>

<style lang="stylus">
@import '~variables'
body
  background-image url("../statics/grass.png")
  background-repeat no-repeat
  background-size 100% 100%

h2
  color #fff
  display inline-block
  margin-top 0
  margin-bottom 12px
  padding-bottom 2px
  border-bottom 2px solid $green-1

h2
  font-size 1.6em
  @media (min-width $bp-1)
    font-size 2em

.subscription > h2
  width 78%

.courses > h2
  width calc(100% - 24px)

.container
  display grid
  grid-template-columns 1.1fr 3fr
  @media (min-width $bp-1)
    grid-template-columns 1fr 3fr
  @media (min-width $bp-2)
    grid-template-columns 1fr 3fr

.subscription
  color #fff
  text-align center

.course-list
  display grid
  grid-gap 20px
  grid-template-columns repeat(3, 1fr)
  @media (min-width $bp-1)
    grid-gap 25px
  /*grid-template-columns repeat(auto-fill, minmax(270px, 3fr))*/

.test-mode
  background #fff
  color $negative
  font-size 24px
  padding 4px 8px
  position absolute
  right 32px
  top 0px
</style>
