<template>
  <q-modal
    v-model="opened"
    no-esc-dismiss
    no-backdrop-dismiss>
    <div class="act-content">

      <div class="q-pt-xl text-center">
        <img src="statics/eTrac-about-logo.png"
             alt="eTrac logo"
             @dblclick="clickLogo">
      </div>

      <p class="q-headline q-mt-md" v-if="!codeIsEntered">Enter your six-digit activation code:</p>

      <div class="code-input" v-if="!codeIsEntered">
        <q-field
          :error="error"
          error-label="That's not a valid code">
          <q-input
            class="q-headline"
            :error="error"
            :disable="codeIsEntered"
            maxlength="6"
            v-model.trim="codeInput"
            upper-case
            stack-label="Activation code"
            :after="[
              {icon: 'error', error: true, handler () {}}
            ]"
            @keyup.enter="checkCode" />
        </q-field>
      </div>

      <div>
        <div v-if="!codeIsEntered">
          <q-btn
            class="q-mt-md q-pl-md q-pr-md"
            color="primary"
            label="Activate"
            icon="fas fa-unlock-alt"
            size="lg"
            @click="checkCode"
          />
        </div>

        <transition name="fade">
          <div class="animate-pop" v-if="showConfirmation">
            <p class="q-headline text-primary q-mt-m">Your subscription has been activated!</p>
            <p class="q-subheading" style="font-size: 1.1em"><span class="text-weight-bold">{{ todayStr }}</span> is the first day<br>of your <span class="text-weight-bold">{{ subscriptionName }}</span> subscription.</p>
            <q-btn
              class="q-mt-md q-pl-md q-pr-md"
              color="primary"
              label="Begin"
              icon-right="fas fa-angle-right"
              size="lg"
              @click="begin"
            />
          </div>
        </transition>
      </div>

      <div class="q-mt-xl">
        <q-btn label="Having issues? Email us"
             icon="fas fa-envelope"
             flat
             color="faded">
          <q-popover anchor="bottom middle" self="bottom middle">
            <div class="email">
              <p>Select and copy the email address, or click on the link.</p>
              <p><a href="mailto:etracsupport@mwsservices.org">etracsupport@mwsservices.org</a></p>
            </div>
          </q-popover>
        </q-btn>
      </div>
      <code-dealer v-if="testMode.includes('test') && !codeIsEntered"></code-dealer>
    </div>
  </q-modal>
</template>

<script>
import * as codes from '../modules/codes'
import { date } from 'quasar'
import CodeDealer from '../components/CodeDealer'

export default {
  data () {
    return {
      opened: true,
      error: false,
      codeInput: '',
      codeType: null
    }
  },
  components: {
    CodeDealer
  },
  methods: {
    checkCode () {
      if (this.codeInput === codes.lifetime || codes.year1.includes(this.codeInput)) {
        this.codeType = (this.codeInput === codes.lifetime) ? 'lifetime' : 'year'
        this.error = false

        this.$store.commit('isActivated', true)
        this.$store.commit('codeIsEntered', true)
        this.$store.commit('recordActivationYear1', {
          code: this.codeInput,
          activatedDate: this.today,
          expiredDate: this.inOneYear
        })

        // Lifetime
        if (this.codeInput === codes.lifetime) {
          this.$store.commit('isLifetime', true)
        }

        this.$store.commit('showConfirmation', true)
      } else {
        this.error = true
      }
    },
    begin () {
      this.$store.commit('activationConfirmed', true)
      this.opened = false
      this.$emit('activated')
      // Reset store props for next renewal
      this.$store.commit('showConfirmation', false)
      this.$store.commit('codeIsEntered', false)
    },
    clickLogo (e) {
      if (e.altKey && e.ctrlKey) {
        this.modalAboutOpened = false
        this.$q.dialog({
          title: 'Developer Controls',
          message: 'Toggle test mode on or off',
          options: {
            type: 'toggle',
            model: this.testMode,
            color: 'primary',
            items: [
              { label: 'Test mode', value: 'test' }
            ]
          },
          cancel: true,
          preventClose: true,
          color: 'secondary'
        }).then(data => {
          this.$store.commit('testMode', data)
        })
      }
    }
  },
  computed: {
    showConfirmation () {
      return this.$store.state.showConfirmation
    },
    codeIsEntered () {
      return this.$store.state.codeIsEntered
    },
    todayStr () {
      let theDate = new Date()
      return date.formatDate(theDate, 'MMMM D, YYYY')
    },
    today () {
      return date.adjustDate(new Date(), { hours: 0, minutes: 0, seconds: 0 })
    },
    inOneYear () {
      let theDate = date.adjustDate(new Date(), { hours: 0, minutes: 0, seconds: 0 })
      return date.addToDate(theDate, { year: 1 })
    },
    testMode () {
      return this.$store.state.testMode
    },
    subscriptionName () {
      if (this.codeType === 'lifetime') {
        return this.codeType
      }
      if (this.codeType === 'year') {
        return 'one-year'
      }
      return ''
    }
  },
  watch: {
    codeInput (val) {
      if (val === '') {
        this.error = false
      }
    }
  }
}
</script>

<style scoped lang="stylus">
.act-content
  line-height 1.6
  padding 0px 30px 30px 30px
  width 550px
  text-align center
.code-input
  width 125px
  margin 0 auto
.fade-enter-active, .fade-leave-active
  transition opacity 1.5s
.fade-enter, .fade-leave-active
  opacity 0
.email
  font-weight bold
  width 440px
  padding 20px 15px 0px 15px
  text-align center
</style>
