<template>
  <div>
    <hr class="q-mb-md">
    <q-btn label="Show Activation Codes"
          color="negative"
          icon="security">
      <q-popover anchor="top right" self="center left">
        <div>
          <p class="q-headline text-negative"><strong>Activation Codes</strong></p>
          <div>
            <p><b>Lifetime:</b> {{ getLifetimeCode() }}</p>
            <p><b>Year 1:</b> {{ getRandomYearCode(1) }}</p>
            <p><b>Year 2:</b> {{ getRandomYearCode(2) }}</p>
            <p><b>Year 3:</b> {{ getRandomYearCode(3) }}</p>
            <p><b>Year 4:</b> {{ getRandomYearCode(4) }}</p>
          </div>
        </div>
      </q-popover>
    </q-btn>
  </div>
</template>

<script>
import * as codes from '../modules/codes'

export default {
  methods: {
    getRandomYearCode (year) {
      if (year === 1) {
        return codes.year1[Math.floor(Math.random() * codes.year1.length)]
      } else if (year === 2) {
        return codes.year2[Math.floor(Math.random() * codes.year2.length)]
      } else if (year === 3) {
        return codes.year3[Math.floor(Math.random() * codes.year3.length)]
      } else if (year === 4) {
        return codes.year4[Math.floor(Math.random() * codes.year4.length)]
      }
    },
    getLifetimeCode () {
      return codes.lifetime
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '~variables'
hr
  border 1px dashed $negative
</style>
