<template>
  <div>
    <!-- <q-card :disabled="isExpired"> -->
    <q-card :class="{ 'q-card-disabled': isExpired }">
      <q-card-media>
        <img :class="{ 'photoScale': !isExpired, 'photoBW': isExpired }"
             :src="$mq | mq({ xs: this.data.photoShort, sm: this.data.photo})">
        <q-card-title slot="overlay">
          <span class="q-body-2">{{ this.data.title }}</span>
        </q-card-title>
      </q-card-media>
      <q-item>
        <q-item-side :avatar="user.image"
                     :class="{ 'photoBW': isExpired }"/>
        <q-item-main>
          <q-item-tile class="q-body-1">{{ user.name }}</q-item-tile>
        </q-item-main>
        <q-knob
          v-model="progress"
          size="$mq | mq({ xs: 50px, sm: 50px, md: 57px, lg: 70px })"
          :color="knobColor"
          track-color="grey-3"
          :min="0"
          :max="100"
          class="absolute"
          style="top: 10px; right: 12px"
          readonly
        >
          <div class="q-caption">{{ progress }}%</div>
        </q-knob>
      </q-item>
      <q-card-separator />
      <q-card-actions align="between">
        <q-btn @click="showDeleteConfirmation"
              flat
              :color="resetBtnColor"
              icon-right="refresh"
              :disable="disableResetBtn"
              label="Reset"
              :size="$mq | mq({ xs: '14px', sm: '14px', md: '17px', lg: '20px' })">
        </q-btn>
        <q-btn @click="$router.push( { path: data.launchUrl, query: { courseId: user.id } } )"
              flat
              :color="launchBtnColor"
              icon-right="launch"
              :disabled="isExpired"
              label="Launch"
              :size="$mq | mq({ xs: '14px', sm: '14px', md: '17px', lg: '20px' })">
        </q-btn>
      </q-card-actions>
    </q-card>
  </div>
</template>

<script>
import Vue from 'vue'
import VueMq from 'vue-mq'

Vue.use(VueMq, {
  breakpoints: {
    xs: 1370,
    sm: 1400,
    md: 1920,
    lg: Infinity
  }
})

export default {
  data () {
    return {
      useFakeUsers: false,
      progress: 0,
      user: this.getRealUser(),
      noUserImg: 'statics/avatars/avatarHead-noUser.png',
      imgPrefix: 'statics/avatars/avatarHead-',
      noUserStr: 'No User'
    }
  },
  mounted () {
    this.progress = this.user.progress
  },
  methods: {
    getRealUser () {
      return this.$store.getters.getCurrentUser(this.data.id)
    },
    getCurrentCourse () {
      return this.$store.getters.getCurrentCourse(this.data.id)
    },
    showDeleteConfirmation () {
      this.$q.dialog({
        title: 'Reset this course?',
        message: 'This will reset all data for "' + this.data.title + '".',
        ok: 'Yes, reset',
        cancel: 'No, cancel'
      }).then(() => {
        this.$q.notify({
          message: '"' + this.data.title + '" has been reset.',
          position: 'bottom',
          type: 'info',
          icon: 'refresh',
          timeout: 3000
        })
        this.resetCourse()
      }).catch(() => {
        // this.$q.notify('Disagreed...')
      })
    },
    resetCourse () {
      localStorage.removeItem(this.data.storageKey)
      this.progress = 0
      // SRL, 2019-01-29: Remove, as this was editing Vuex store state outside of a mutation handler
      //                  I also think that the updateUser commit, below, may handle this
      // this.user.progress = 0
      // this.user.image = this.noUserImg
      // this.user.name = this.noUserStr

      // Update user in store
      const payload = {
        id: this.user.id,
        name: this.noUserStr,
        image: this.noUserImg,
        progress: 0
      }
      this.$store.commit('updateUser', payload)
    }
  },
  computed: {
    disableResetBtn () {
      // Disable Reset btn if isExpired, OR progress, name or avatar "ALL" have zero/starting values
      return (this.isExpired ||
              (this.progress === 0 &&
              this.user.name === this.noUserStr &&
              this.user.image === this.noUserImg))
    },
    knobColor () {
      return (this.isExpired) ? 'grey' : 'primary'
    },
    resetBtnColor () {
      return (this.isExpired) ? 'grey' : 'info'
    },
    launchBtnColor () {
      return (this.isExpired) ? 'grey' : 'primary'
    },
    isExpired () {
      return this.$store.state.isExpired
    }
  },
  props: {
    data: {
      type: Object,
      require: true
    }
  }
}
</script>
<style scoped lang="stylus">
.photoBW
  filter grayscale(100%)

.q-card-disabled
  background-color #dddddd
</style>
