<template>
  <div>
    <q-btn-group flat>
      <q-btn label="Website"
             icon="fas fa-external-link-alt"
             class="q-mr-md"
             @click="openLink1"
             text-color="white"/>
      <q-btn label="Email us"
             icon="fas fa-envelope"
             class="q-mr-md"
             text-color="white">
        <q-popover anchor="top middle" self="bottom middle">
          <div class="email">
            <p>Select and copy the email address, or click on the link.</p>
            <p><a href="mailto:etracsupport@mwsservices.org">etracsupport@mwsservices.org</a></p>
          </div>
        </q-popover>
      </q-btn>
      <q-btn label="About"
             icon="fas fa-info-circle"
             class="q-mr-md"
             @click="openAbout"
             text-color="white"/>
      <q-btn label="Admin Email"
             icon="fas fa-wrench"
             class="q-mr-md"
             @click="openAdmin"
             text-color="white">
             <q-tooltip :delay="300" :offset="[0, 4]">{{ emailTooltip }}</q-tooltip>
      </q-btn>
      <q-btn v-if="testMode.includes('test')"
             label="Delete all data"
             color="negative"
             icon="fa fa-trash"
             class="q-mr-md"
             @click="deleteAppData"
             text-color="white">
             <q-tooltip :delay="300">This deletes the subscription and all course data.</q-tooltip>
      </q-btn>
      <p v-if="testMode.includes('test')"
         class="relative-position q-mr-md q-ml-md"
         style="top: 10px">Change 'today' date</p>
      <q-datetime v-if="testMode.includes('test')"
             v-model="todayTestDate"
             inverted
             minimal
             color="negative"
             type="date"
             format="MM/D/YYYY"
             class="q-mr-sm" />
      <q-btn v-if="testMode.includes('test')"
             label=""
             color="negative"
             icon="refresh"
             class="q-mr-md"
             @click="resetToday"
             text-color="white">
      </q-btn>
    </q-btn-group>

    <q-modal v-model="modalAboutOpened">
      <div class="modalAbout">
        <div class="text-center q-mb-lg">
          <img src="statics/eTrac-about-logo.png"
               alt="eTrac logo"
               @dblclick="clickLogo">
        </div>
        <p>{{ versionStr }}</p>
        <p>Activation Code: {{ userActivationCode }}</p>
        <p>For screen readers, full keyboard accessibility, braille devices and other mobile devices,
a <a href="#" @click="openLink2">text-based version of eTrac</a> is available free of charge.</p>
        <p>© 2014–{{ currentYear }} Midwest Special Services, Inc. (MSS) All rights reserved.</p>
        <p>Developed for Midwest Special Services, Inc. by <a href="#" @click="openLink3">ZenMation, Inc.</a></p>
        <div class="text-center">
          <q-btn
            class="q-mt-lg"
            color="dark"
            @click="modalAboutOpened = false"
            label="Close"
          />
        </div>
      </div>
    </q-modal>

    <q-dialog
      v-model.trim="customDialogModel"
      stack-buttons
      prevent-close
      no-refocus
      @cancel="onEmailCancel"
    >
      <span slot="title">Admin Email</span>
      <span slot="message">{{ completionObject }} will be sent to this email address.</span>
      <div slot="body">
        <q-field
          icon="fas fa-envelope"
          label="Email"
          :label-width="2"
        >
          <q-input v-model="$v.emailPre.$model" />
          <p v-if="$v.emailPre.$error" class="emailError text-negative"><i class="material-icons" style="font-size: 24px">error</i> {{ invalidEmail }}</p>
        </q-field>
      </div>
      <template slot="buttons" slot-scope="props">
        <q-btn flat
               icon="fas fa-save"
               label="Save and Close"
               @click="saveEmail(props.ok)" />
        <q-btn flat
               icon="fas fa-share-square"
               color="info"
               label="Create a test email"
               :disabled="$v.emailPre.$error"
               @click="createTestEmail(props.ok)" />
        <q-btn flat
               icon="far fa-times-circle"
               color="negative"
               label="Cancel or Do this later"
               @click="props.cancel" />
      </template>
    </q-dialog>
  </div>
</template>

<script>
import { shell } from 'electron'
import { version } from '../../package.json'
import { email } from 'vuelidate/lib/validators'
import { date } from 'quasar'

export default {
  data () {
    return {
      version: version,
      modalAboutOpened: false,
      customDialogModel: false,
      adminPassword: 'etadmin',
      emailPre: this.$store.state.email,
      email: this.$store.state.email,
      completionObject: 'Course completion emails',
      missingEmail: 'An administrator needs to set the admin email.',
      invalidEmail: `That's not a valid email.`,
      todayTestDate: this.whatIsToday(),
      courses: this.$store.state.courses
    }
  },
  mounted () {
  },
  validations: {
    emailPre: { email }
  },
  computed: {
    currentYear () {
      return new Date().getFullYear()
    },
    versionStr () {
      return 'eTrac Version: ' + this.version
    },
    versionTruncated () {
      return this.version.split('.')[0] + '.' + this.version.split('.')[1]
    },
    testEmail () {
      const str = `mailto:${this.email}?subject=This is a test email from eTrac desktop&body=Send this message to the email used to verify that an email is received as expected.\r\rYou want to be sure this is correct, as many learners will have their course completions emailed to it.`
      return encodeURI(str)
    },
    emailTooltip () {
      const email = this.$store.state.email
      let str = ''
      if (email !== '') {
        str = 'Admin email: ' + email
      } else {
        str = this.missingEmail
      }
      return str
    },
    testMode () {
      return this.$store.state.testMode
    },
    isLifetime () {
      return this.$store.state.subscription.lifetime
    },
    currentSubscription () {
      const sub = this.$store.getters.getCurrentSubscription
      return sub
    },
    userActivationCode () {
      const sub = this.currentSubscription
      if (this.isLifetime) {
        return sub.code
      } else {
        return sub.code
      }
    }
  },
  methods: {
    clickLogo (e) {
      if (e.altKey && e.ctrlKey) {
        this.modalAboutOpened = false
        this.$q.dialog({
          title: 'Developer Controls',
          message: 'Toggle test mode on or off',
          options: {
            type: 'toggle',
            model: this.testMode,
            color: 'primary',
            items: [
              { label: 'Test mode', value: 'test' }
            ]
          },
          cancel: true,
          preventClose: true,
          color: 'secondary'
        }).then(data => {
          this.$store.commit('testMode', data)
          // this.$q.notify(`You have turned test mode ${testMode ? 'on' : 'off'}`)
        })
      }
    },
    openLink1 () {
      shell.openExternal('http://etrac-mss.com/')
    },
    openLink2 () {
      shell.openExternal('http://etrac-mss.com/pricing/')
    },
    openLink3 () {
      shell.openExternal('http://zenmation.com/')
    },
    openAbout () {
      this.modalAboutOpened = true
    },
    openAdmin () {
      this.$q.dialog({
        title: 'Admin Email Access',
        message: 'Enter the administrator password.',
        prompt: {
          model: this.adminPassword_input,
          type: 'password'
        },
        ok: 'Submit',
        cancel: 'Cancel',
        color: 'primary'
      }).then(data => {
        this.handleAdminPasswordEntry(data)
      }).catch(() => {
      })
    },
    openAdminReminder () {
      this.$q.dialog({
        title: 'Reminder',
        message: this.missingEmail
      })
    },
    handleAdminPasswordEntry (data) {
      if (data === this.adminPassword) {
        this.customDialogModel = true
        this.focusEmailInputTimer()
      } else {
        this.$q.notify('That\'s not the correct password.')
      }
    },
    onEmailCancel () {
      this.emailPre = this.email
    },
    // Save the email
    async saveEmail (okFn) {
      // this.$v.emailPre.touch()
      if (this.emailPre === '' || this.$v.emailPre.$error) {
        this.$q.notify(this.invalidEmail)
      } else if (this.$v.emailPre.$error) {
        this.$q.notify(this.invalidEmail)
      } else {
        await okFn()
        this.recordEmail()
        this.$q.notify({
          message: `${this.completionObject} will be sent to: ${this.email}`,
          type: 'info'
        })
      }
    },
    // Save and test the email
    async createTestEmail (okFn) {
      if (this.emailPre === '' || this.$v.emailPre.$error) {
        this.$q.notify(this.invalidEmail)
      } else if (this.$v.emailPre.$error) {
        this.$q.notify(this.invalidEmail)
      } else {
        // await okFn()
        this.recordEmail()
        shell.openExternal(this.testEmail)
        this.$q.notify({
          message: `A test email was created. You should see this open in your computer's email program.`,
          type: 'info'
        })
      }
    },
    recordEmail () {
      this.email = this.emailPre
      this.$store.commit('setEmail', this.email)
    },
    deleteAppData () {
      localStorage.removeItem('etrac-desktop')
      this.deleteAllCoursesData()
      // this.resetToday()
      this.$q.notify({
        message: `App data has been deleted. Quit and relaunch the application.`,
        type: 'info'
      })
    },
    deleteAllCoursesData () {
      this.courses.forEach(course => {
        const key = course.storageKey
        localStorage.removeItem(key)
      })
    },
    resetToday () {
      this.todayTestDate = date.adjustDate(new Date(), { hours: 0, minutes: 0, seconds: 0 })
    },
    whatIsToday () {
      if (this.$store.state.todayTestDate) {
        return this.$store.state.todayTestDate
      } else {
        return date.adjustDate(new Date(), { hours: 0, minutes: 0, seconds: 0 })
      }
    }
  },
  watch: {
    todayTestDate (newToday, oldToday) {
      this.$store.commit('todayTestDate', newToday)
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '~variables'
.q-btn-inner
  font-size 12px !import

.email
  font-weight bold
  width 440px
  padding 20px 15px 0px 15px
  text-align center

.modalAbout
  font-size 18px
  line-height 1.5
  max-width 780px
  padding 30px 60px
  background-image url("../statics/avatars/avatar-about-group.png")
  background-repeat no-repeat
  background-position center bottom

.emailError
  line-height 1.6

.dialogEmail
  min-width 600px

a
  transition all 200ms

a:hover
  color $secondary

</style>
