<template>
  <q-modal
    v-model="opened"
    no-esc-dismiss
    no-backdrop-dismiss>
    <div class="act-content">
      <div class="q-pt-lg text-center">
        <img src="statics/eTrac-about-logo.png"
             width="200" height="88"
             alt="eTrac logo"
             @dblclick="clickLogo">
      </div>
      <div v-if="!showConfirmation">
        <p>Purchase a renewal for your subscription.</p>
        <q-btn
          color="info"
          class="q-mb-sm"
          label="Renew Subscription"
          icon="fas fa-shopping-cart"
          @click="openRenewalLink"
          size="lg"
        />
        <br>
        <q-btn
          v-if="isActivated"
          class="q-mt-xs"
          flat
          icon="far fa-times-circle"
          color="faded"
          @click="opened = false"
          label="Cancel or do this later"
        />
        <hr>
      </div>

      <p class="q-headline q-mt-sm q-mb-xs" v-if="!codeIsEntered">Enter your six-digit renewal code:</p>

      <div class="code-input" v-if="!codeIsEntered">
        <q-field
          :error="error"
          error-label="That's not a valid code">
          <q-input
            class="q-headline"
            :error="error"
            :disable="codeIsEntered"
            maxlength="6"
            v-model.trim="codeInput"
            upper-case
            stack-label="Activation code"
            :after="[
              {icon: 'error', error: true, handler () {}}
            ]"
            @keyup.enter="checkCode" />
        </q-field>
      </div>

      <div>
        <div v-if="!codeIsEntered">
          <q-btn
            class="q-mt-sm q-pl-md q-pr-md"
            color="primary"
            label="Activate"
            icon="fas fa-unlock-alt"
            size="lg"
            @click="checkCode"
          />
          <br>
        </div>

        <transition name="fade">
          <div class="animate-pop" v-if="showConfirmation">
            <p class="q-headline text-primary q-mt-sm">Your subscription has been renewed!</p>
            <q-btn
              class="q-mt-sm q-pl-md q-pr-md"
              color="primary"
              label="Continue"
              icon-right="fas fa-angle-right"
              size="lg"
              @click="begin"
            />
          </div>
        </transition>
      </div>

      <div class="q-mt-md">
        <q-btn label="Having issues? Email us"
             icon="fas fa-envelope"
             flat
             color="faded">
          <q-popover anchor="bottom middle" self="bottom middle">
            <div class="email">
              <p>Select and copy the email address, or click on the link.</p>
              <p><a href="mailto:etracsupport@mwsservices.org">etracsupport@mwsservices.org</a></p>
            </div>
          </q-popover>
        </q-btn>
      </div>
      <code-dealer v-if="testMode.includes('test') && !codeIsEntered"></code-dealer>
    </div>
  </q-modal>
</template>

<script>
import * as codes from '../modules/codes'
import { date } from 'quasar'
import { shell } from 'electron'
import CodeDealer from '../components/CodeDealer'

export default {
  data () {
    return {
      opened: true,
      error: false,
      codeInput: '',
      codeType: null
    }
  },
  components: {
    CodeDealer
  },
  methods: {
    openRenewalLink () {
      shell.openExternal('http://etrac-mss.com/pricing/')
    },
    checkCode () {
      let codesForRenewal
      if (this.nextYear === 2) {
        codesForRenewal = codes.year2
      } else if (this.nextYear === 3) {
        codesForRenewal = codes.year3
      } else if (this.nextYear === 4) {
        codesForRenewal = codes.year4
      }

      if (this.codeInput === codes.lifetime || codesForRenewal.includes(this.codeInput)) {
        this.codeType = (this.codeInput === codes.lifetime) ? 'lifetime' : 'year'
        if (this.nextYear === 4) {
          // Renewing into year 4 converts to lifetime subscription
          this.codeType = 'lifetime'
          this.$store.commit('isLifetime', true)
          // console.log('this.$store.state.subscription.lifetime', this.$store.state.subscription.lifetime)
        }
        this.error = false
        this.$store.commit('renewalDate', this.whatIsToday())
        this.$store.commit('isActivated', true)
        this.$store.commit('isExpired', false)
        this.$store.commit('codeIsEntered', true)

        // Determine the next activated & expired dates
        const isAfterExpiration = this.renewalIsAfterExpiration(this.currentSubscription.expiredDate, this.whatIsToday())
        // Set nextActivatedDate
        let nextActivatedDate = null
        if (isAfterExpiration) {
          // Renewing late, activation is today
          nextActivatedDate = this.whatIsToday()
        } else {
          // Renewing early or on-time, activation is one year from current subscription's activation date
          nextActivatedDate = this.expirationInOneYear(this.currentSubscription.activatedDate)
        }

        let nextExpiredDate = null
        if (isAfterExpiration) {
          // Renewing late, expiration is in one year from today
          nextExpiredDate = this.inOneYear
        } else {
          // Renewing early or on-time, expiration is one year from current subscription's expiration date
          nextExpiredDate = this.expirationInOneYear(this.currentSubscription.expiredDate)
        }

        // Acitvate next year
        const recordActivationYear = 'recordActivationYear' + this.nextYear
        this.$store.commit(recordActivationYear, {
          code: this.codeInput,
          activatedDate: nextActivatedDate,
          expiredDate: nextExpiredDate
        })

        // Lifetime
        if (this.codeInput === codes.lifetime) {
          this.$store.commit('isLifetime', true)
        }

        // Stuff for updating store
        this.$store.commit('setCurrentYear', this.nextYear)
        this.$store.commit('showConfirmation', true)
      } else {
        this.error = true
      }
    },
    begin () {
      this.$store.commit('activationConfirmed', true)
      this.opened = false
      // Reset store props for next renewal
      this.$store.commit('showConfirmation', false)
      this.$store.commit('codeIsEntered', false)
    },
    clickLogo (e) {
      if (e.altKey && e.ctrlKey) {
        this.modalAboutOpened = false
        this.$q.dialog({
          title: 'Developer Controls',
          message: 'Toggle test mode on or off',
          options: {
            type: 'toggle',
            model: this.testMode,
            color: 'primary',
            items: [
              { label: 'Test mode', value: 'test' }
            ]
          },
          cancel: true,
          preventClose: true,
          color: 'secondary'
        }).then(data => {
          this.$store.commit('testMode', data)
        })
      }
    },
    whatIsToday () {
      if (this.$store.state.todayTestDate) {
        return this.$store.state.todayTestDate
      } else {
        return date.adjustDate(new Date(), { hours: 0, minutes: 0, seconds: 0 })
      }
    },
    renewalIsAfterExpiration (expired, today) {
      const dateDiff = date.getDateDiff(expired, today, 'days')
      //  < 0: renewal is AFTER expiration date
      // >= 0: renewal is ON or BEFORE expiration date
      return dateDiff < 0
    },
    renewalDaysExtra (expired, today) {
      return date.getDateDiff(expired, today, 'days')
    },
    expirationInOneYear (expiredDate) {
      return date.addToDate(expiredDate, { year: 1 })
    }
  },
  computed: {
    showConfirmation () {
      return this.$store.state.showConfirmation
    },
    codeIsEntered () {
      return this.$store.state.codeIsEntered
    },
    todayStr () {
      const todayTestDate = this.$store.state.todayTestDate
      if (todayTestDate !== null) {
        return date.formatDate(todayTestDate, 'MMMM D, YYYY')
      } else {
        return date.formatDate(new Date(), 'MMMM D, YYYY')
      }
    },
    today () {
      return date.adjustDate(new Date(), { hours: 0, minutes: 0, seconds: 0 })
    },
    inOneYear () {
      const todayTestDate = this.$store.state.todayTestDate
      let theDate
      if (todayTestDate !== null) {
        theDate = date.adjustDate(todayTestDate, { hours: 0, minutes: 0, seconds: 0 })
      } else {
        theDate = date.adjustDate(new Date(), { hours: 0, minutes: 0, seconds: 0 })
      }
      return date.addToDate(theDate, { year: 1 })
    },
    testMode () {
      return this.$store.state.testMode
    },
    subscriptionName () {
      if (this.codeType === 'lifetime') {
        return this.codeType
      }
      if (this.codeType === 'year') {
        return 'one-year'
      }
      return ''
    },
    currentSubscription () {
      return this.$store.getters.getCurrentSubscription
    },
    isActivated () {
      return this.$store.state.isActivated
    },
    isExpired () {
      return this.$store.state.isActivated
    },
    currentYear () {
      return this.$store.state.subscription.currentYear
    },
    nextYear () {
      return this.currentYear + 1
    }
  },
  watch: {
    codeInput (val) {
      if (val === '') {
        this.error = false
      }
    },
    opened (newVal, oldVal) {
      if (!newVal) {
        this.$emit('closed')
      }
    }
  }
}
</script>

<style scoped lang="stylus">
.act-content
  line-height 1.6
  padding 0px 30px 20px 30px
  width 550px
  text-align center
.code-input
  width 125px
  margin 0 auto
.fade-enter-active, .fade-leave-active
  transition opacity 1.5s
.fade-enter, .fade-leave-active
  opacity 0
.email
  font-weight bold
  width 440px
  padding 20px 15px 0px 15px
  text-align center
</style>
