<template>
  <div class="subscription">
    <q-knob
      class="knob-sub q-mt-sm"
      v-model="daysLeft"
      :min="daysMin"
      :max="daysMax"
      color="white"
      track-color="green-10"
      :size="$mq | mq({ xs: '200px', sm: '200px', md: '225px', lg: '275px' })"
      style="font-size: 1.5rem"
      line-width="4px"
      readonly
    >
      <div>
        <div v-if="isLifetime">
          <p class="q-display-1 q-mt-md">Lifetime</p>
        </div>
        <div v-else>
          <p v-if="isActivated" class="q-display-3 text-weight-thin" style="margin: 0">{{ daysLeft }}</p>
          <p v-if="isActivated" class="q-headline">{{ daysLabel }} left</p>
          <p v-if="!isActivated" class="q-display-1">Not<br>Activated</p>
        </div>
      </div>
    </q-knob>
    <div class="q-mt-sm dates">
      <!-- <i class="fas fa-calendar-alt fa-2x q-mb-sm"></i> -->

      <p class="no-margin q-pt-sm q-subheading text-weight-medium uppercase">Activated on</p>
      <p v-if="isActivated" class="q-headline text-weight-light">{{ year1Activation }}</p>
      <p v-if="!isActivated" class="q-headline text-weight-light text-italic">{{ notActivated }}</p>

      <p class="no-margin q-subheading text-weight-medium uppercase">Expires on</p>
      <div v-if="isLifetime">
        <p class="q-headline text-weight-light">{{ noExpiration }}</p>
      </div>
      <div v-else>
        <p v-if="isActivated" class="q-headline text-weight-light">{{ expiresOnStr }}</p>
        <p v-if="!isActivated" class="q-headline text-weight-light text-italic">{{ notActivated }}</p>
      </div>

      <!-- <div v-if="isActivated">
        <p class="no-margin q-subheading text-weight-medium uppercase">Today is</p>
        <p class="q-headline text-weight-light">{{ todayStr }}</p>
      </div> -->

    </div>

    <!-- Days left: 1-60 -->
    <div class="q-ml-md q-mr-md q-mt-sm text-left"
         v-if="showReminder">
      <transition
        enter-active-class="animated bounceInLeft"
        leave-active-class="animated bounceOutLeft"
        appear
      >
        <q-alert icon="fa fa-bell"
                v-if="alertIsVisible"
                color="info"
                :actions="[
                  { label: 'Renew', icon: 'assignment', handler: () => { this.beginRenewal(false) } },
                  { label: 'Dismiss', icon: 'done', handler: () => { alertIsVisible = false } }
                ]">
                Your subscription expires in {{ daysLeft }} {{ daysLabel }}.
        </q-alert>
      </transition>
    </div>

    <!-- Days left: 0 -->
    <div class="q-ml-md q-mr-md q-mt-sm text-left"
         v-if="isExpired">
      <transition
        enter-active-class="animated bounceInLeft"
        leave-active-class="animated bounceOutLeft"
        appear
      >
        <q-alert type="negative"
                v-if="alertIsVisible"
                :actions="[
                  { label: 'Renew', icon: 'assignment', handler: () => { this.beginRenewal(true) } }
                ]">
                Your subscription has expired.
        </q-alert>
      </transition>
    </div>

    <renewal v-if="showRenewal" @closed="handleRenewalClose"></renewal>
  </div>
</template>

<script>
import Vue from 'vue'
import { date } from 'quasar'
import Renewal from '../components/Renewal'
import VueMq from 'vue-mq'

Vue.use(VueMq, {
  breakpoints: {
    xs: 1370,
    sm: 1400,
    md: 1920,
    lg: Infinity
  }
})

export default {
  data () {
    return {
      notActivated: 'Not Activated',
      noExpiration: 'No Expiration',
      daysLeft: this.calcDaysLeft(),
      alertIsVisible: true,
      showRenewal: false,
      theTimer: null
    }
  },
  components: {
    Renewal
  },
  mounted () {
    this.daysLeft = this.calcDaysLeft()
    // Run timer when not year 4. Yeare 4 is lifetime, timer not needed.
    if (!this.isYear4) {
      this.startTimer()
    }
  },
  beforeDestroy () {
    this.stopTimer()
  },
  computed: {
    daysMin () {
      return this.isLifetime ? 0 : 0
    },
    daysMax () {
      const sub = this.currentSubscription
      const activatedDate = sub.activatedDate
      const expiredDate = sub.expiredDate
      if (!this.isActivated) {
        return 2
      } else if (this.isLifetime) {
        return 1
      } else if (this.currentYear === 1) {
        const days = date.getDateDiff(expiredDate, activatedDate, 'days')
        return days
      } else {
        const renewalDate = this.$store.state.renewalDate
        // Is renewalDate earlier than current yr's activatedDate?
        const diff = date.getDateDiff(renewalDate, activatedDate, 'days')
        if (diff < 0) {
          // User renewed early - ADD the diff
          const days = date.getDateDiff(expiredDate, activatedDate, 'days')
          return days + Math.abs(diff)
        } else {
          // User renewed on-time or late
          const days = date.getDateDiff(expiredDate, activatedDate, 'days')
          return days
        }
      }
    },
    daysLabel () {
      return this.daysLeft === 1 ? 'day' : 'days'
    },
    year1Activation () {
      const theDate = this.$store.state.subscription.year1.activatedDate
      return date.formatDate(theDate, 'MMMM D, YYYY')
    },
    currentSubscription () {
      const sub = this.$store.getters.getCurrentSubscription
      return sub
    },
    activatedOn () {
      return this.currentSubscription.activatedDate
    },
    activatedOnStr () {
      return date.formatDate(this.activatedOn, 'MMMM D, YYYY')
    },
    expiresOn () {
      return this.currentSubscription.expiredDate
    },
    expiresOnStr () {
      return date.formatDate(this.expiresOn, 'MMMM D, YYYY')
    },
    currentYear () {
      return this.$store.state.subscription.currentYear
    },
    isActivated () {
      return this.$store.state.isActivated
    },
    isExpired () {
      return this.$store.state.isExpired
    },
    isLifetime () {
      return this.$store.state.subscription.lifetime
    },
    isYear4 () {
      return this.$store.state.subscription.currentYear === 4
    },
    todayStr () {
      const todayTestDate = this.$store.state.todayTestDate
      if (todayTestDate !== null) {
        return date.formatDate(todayTestDate, 'MMMM D, YYYY')
      } else {
        return date.formatDate(new Date(), 'MMMM D, YYYY')
      }
    },
    showReminder () {
      return (!this.isLifetime && this.daysLeft <= 60 && this.daysLeft > 0 && this.activatedOn)
    },
    showExpired () {
      return (!this.isLifetime && this.daysLeft === 0 && this.activatedOn)
    }
  },
  methods: {
    startTimer () {
      this.theTimer = setInterval(() => {
        this.daysLeft = this.calcDaysLeft()
        this.controlActivation()
      }, 1000)
    },
    stopTimer () {
      clearInterval(this.theTimer)
      this.theTimer = null
    },
    calcDaysLeft () {
      if (!this.isActivated) {
        return 0
      }

      const todayTestDate = this.$store.state.todayTestDate
      let useDate
      if (todayTestDate !== null) {
        useDate = todayTestDate
      } else {
        useDate = new Date()
      }
      // Get days between 'today' and current sub's expiration date
      const diff = date.getDateDiff(this.expiresOn, useDate, 'days')
      return diff
    },
    beginRenewal (alertIsVisible) {
      this.alertIsVisible = alertIsVisible
      this.showRenewal = true
    },
    handleRenewalClose () {
      this.showRenewal = false
    },
    controlActivation () {
      // Deal with days left == 0
      if (this.daysLeft <= 0 && this.isActivated) {
        if (!this.isExpired) {
          this.$store.commit('isExpired', true)
        }
      } else {
        if (this.isExpired) {
          this.$store.commit('isExpired', false)
        }
      }

      if (this.isLifetime) {
        this.stopTimer()
      }
    }
  }
}
</script>

<style scoped lang="stylus">
@import '~variables'
.knob-sub
  filter drop-shadow(4px 4px 1px rgba(0,0,0,0.2))

</style>
