<template>
  <q-dialog
    v-model="customDialogModel"
    stack-buttons
    prevent-close
    @ok="onOk"
    @cancel="onCancel"
    @show="onShow"
    @hide="onHide"
  >
    <!-- This or use "title" prop on <q-dialog> -->
    <span slot="title">Toggle Testing Mode</span>

    <!-- This or use "message" prop on <q-dialog> -->
    <span slot="message">What is your superhero of choice?</span>

    <template slot="toggle" slot-scope="props">
      <q-toggle
        v-model="checked"
        left-label
        label="Checkbox Label"
      />
      <q-btn flat label="No thanks" @click="props.cancel" />
    </template>
  </q-dialog>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  props: ['customDialogModel'],
  methods: {
    // custom handler
    async choose (okFn, hero) {
      if (this.name.length === 0) {
        this.$q.dialog({
          title: 'Please specify your name!',
          message: `Can't buy tickets without knowing your name.`
        })
      } else {
        await okFn()
        this.$q.notify(`Going with ${hero}`)
      }
    }
  }
}
</script>

<style>
</style>
