.play-icon {
  /* Orig: 30x30 */
  width: 45px;
  height: 45px;
  /* transform: translate(-8px, 0px); */
  transform: translate(-4px, 0px);
}
 
.pause-icon {
  /* Orig: 12x14 */
  width: 18px;
  height: 21px;
  /* transform: translate(-4px, 4px); */
  transform: translate(0px, 4px);
}
 
.volume-icon {
  /* Orig: 16x14 */
  width: 24px;
  height: 21px;
}
 
.volume button {
  width: 24px;
}
 
.caption-icon-disabled, .caption-icon-enabled {
  /* Orig: 19x16 */
  width: 28.5px;
  height: 24px;
}

.caption-icon-enabled {
  transform: translateY(4px);
}
 
.btn-reset .cs-icon {
  /* Orig: 13x16 */
  width: 19.5px;
  height: 24px;
}
 
.progress-bar {
  transform: translateY(4px);
}
 
.cs-button .text {
  position: relative;
  top: 2px;
}