<template>
  <q-layout>
    <q-layout-header>
      <q-toolbar color="dark">
        <q-toolbar-title class="q-headline">{{ courseTitle }}</q-toolbar-title>
        <transition
          appear
          enter-active-class="animated bounceInRight"
        >
          <router-link to="/" class="link"><i class="material-icons">home</i> Home</router-link>
        </transition>
      </q-toolbar>
    </q-layout-header>

    <q-page-container>
      <router-view />
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  data () {
    return {
      courseId: null,
      storylinePlayer: null,
      storylineData: {},
      dataFile: null
    }
  },
  created () {
    this.courseId = this.$route.query.courseId
    this.startPlayerTimer()
    // window.addEventListener('exitCourse', this.handleExit, false)
    // Dispatch a custom event from non-Vue code via:
    // var exitEvent = new Event("exitCourse");
    // window.dispatchEvent(exitEvent);
  },
  beforeDestroy () {
    // window.removeEventListener('exitCourse', this.handleExit, false)
  },
  destroyed () {
    this.getStorylineData()
  },
  computed: {
    courseTitle () {
      const course = this.$store.getters.getCurrentCourse(this.courseId)
      const title = 'Course ' + course.title.replace('.', ':')
      return title
    }
  },
  methods: {
    handleExit () {
      // console.log('Quasar > handleExit')
      // this.$router.push('/')
    },
    setStyleIntoIframe (cw) {
      // Inject a custom CSS file to increase the size of the Storyline player UI
      let cssLink = document.createElement('link')
      cssLink.href = '../../css/storyline.css'
      cssLink.rel = 'stylesheet'
      cssLink.type = 'text/html'
      cw.document.body.appendChild(cssLink)
    },
    getStorylinePlayer () {
      const frame = document.getElementById('storyFrame')
      let frameCW = null
      try {
        frameCW = frame.contentWindow
      } catch (e) {}
      let player = null
      try {
        // Use Storyline's GetPlayer() JavaScript function to get the player
        player = frameCW.GetPlayer()
      } catch (e) {
        player = false
      }
      if (player) {
        this.storylinePlayer = player
        // Now that we have the player, let's set the email
        this.setAdminEmail()
      } else {
        this.startPlayerTimer()
      }
      this.setStyleIntoIframe(frameCW)
    },
    startPlayerTimer () {
      setTimeout(this.getStorylinePlayer, 100)
    },
    getStorylineData () {
      if (this.storylinePlayer) {
        let avatar = this.storylinePlayer.GetVar('userAvatar')
        if (avatar.length > 0) {
          this.storylineData.userAvatar = this.makeAvatarImage(this.conformAvatar(avatar))
        } else {
          this.storylineData.userAvatar = this.makeAvatarImage(this.conformAvatar(0))
        }

        let name = this.storylinePlayer.GetVar('userName')
        if (name.length > 0) {
          this.storylineData.userName = name
        } else {
          this.storylineData.userName = 'Missing User Name'
        }

        let progress = this.storylinePlayer.GetVar('userProgress')
        if (progress >= 0) {
          this.storylineData.userProgress = progress
        }

        this.updateUser()
      }
    },
    setAdminEmail () {
      this.storylinePlayer.SetVar('adminEmail', this.$store.state.email)
    },
    conformAvatar (str) {
      // Storyline's avatar variable is just a number, 1-12
      // avatars 1-6 are female (f1-f6), 7-12 are male (m1-m6)
      const avatarNum = Number(str)

      if (avatarNum === 0) {
        return 'noUser'
      }

      let conformed
      if (avatarNum && avatarNum <= 6) {
        conformed = 'f' + avatarNum
      } else if (avatarNum > 6 && avatarNum <= 12) {
        conformed = 'm' + Number(avatarNum - 6)
      } else {
        conformed = null
      }
      return conformed
    },
    makeAvatarImage (str) {
      return 'statics/avatars/avatarHead-' + str + '.png'
    },
    updateUser () {
      // Update user in store
      const payload = {
        id: this.courseId,
        name: this.storylineData.userName,
        image: this.storylineData.userAvatar,
        progress: this.determineProgress()
      }
      // console.log('payload', payload)
      this.$store.commit('updateUser', payload)
    },
    determineProgress () {
      const course = this.$store.getters.getCurrentCourse(this.courseId)
      // console.log('this.storylineData.userProgress', this.storylineData.userProgress)
      const pCurrent = this.storylineData.userProgress
      const pTotal = course.totalProgress
      const pPercent = Math.round((pCurrent / pTotal) * 100)
      return pPercent
    }
  }
}
</script>

<style lang="stylus">
.storyline {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.play-icon
  width 45px
  height 45px
  transform translate(-8px, 0px)
</style>
