<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header class="header">
      <video src="statics/video/main_street_clouds.mp4" muted autoplay loop ref="bannerVideo"></video>
    </q-layout-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-layout-footer>
      <q-toolbar color="grey-10">
        <q-toolbar-title>
          <info-buttons class="info-buttons"></info-buttons>
        </q-toolbar-title>
      </q-toolbar>
    </q-layout-footer>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'
import { version } from '../../package.json'
import InfoButtons from '../components/InfoButtons'

export default {
  name: 'LayoutDefault',
  data () {
    return {
      version: version
    }
  },
  methods: {
    openURL
  },
  components: {
    InfoButtons
  },
  mounted () {
    // const v = this.$refs.bannerVideo
    // v.addEventListener('click', function (e) {
    //   this.paused ? this.play() : this.pause()
    // })
  },
  computed: {
    isExpired () {
      return this.$store.state.isExpired
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '~variables'

video
  height 100px
  transition 150ms height
  @media (min-width $bp-1)
    height 144px
  @media (min-width 2000px)
    height 180px

.video-bw
  filter grayscale(100%)

.info-buttons
  text-align center

.q-toolbar
  min-height 44px

.q-toolbar-title
  padding 0
  margin 0

</style>
